<launch>
    <!-- Input -->
    <node name="controller" pkg="joystick_packages" type="controller.py">
        <param name="input_id" value="/dev/input/js2"/>
        <param name="topic" value="RCValues"/>
    </node>

    <node name="joystick" pkg="joystick_packages" type="joystick.py">
        <param name="input_id" value="/dev/input/js0"/>
        <param name="topic" value="joystick1"/>
    </node>

    <node name="joystick2" pkg="joystick_packages" type="joystick.py">
        <param name="input_id" value="/dev/input/js1"/>
        <param name="topic" value="joystick2"/>
    </node>
</launch>
