<launch>
    <!-- Serial Comms -->
    <node name="serial_node" pkg="serial_python_arduino" type="serial_python_arduino.py">
        <param name="serial_port" value="/dev/arduino"/>
        <param name="controller_topic" value="RCValues"/>
        <param name="autoshutdown_topic" value="shutoff"/>
        <param name="cameramount_topic" value="CameraMountInfo"/>
        <param name="homing_topic" value="homing_info"/>


    </node>

    <!-- Driving -->
    <node name="RoboClaw" pkg="steering" type="motor_controller.py">
        <param name="controller_topic" value="RCValues"/>
        <param name="homing_topic" value="HomingInfo"/>
        <param name="rover_info_topic" value="RoverInfo"/>
        <param name="roboclaw_fl_id" value="/dev/roboclawfl"/>
        <param name="roboclaw_bl_id" value="/dev/roboclawbl"/>
        <param name="roboclaw_br_id" value="/dev/roboclawbr"/>
        <param name="roboclaw_fr_id" value="/dev/roboclawfr"/>
    </node>

    <!-- Arm -->
    <node name="ArmControl" pkg="steering" type="arm_controller.py">
        <param name="joystick1_topic" value="RCValues"/>
        <param name="joystick2_topic" value="HomingInfo"/>
        <param name="boom_id" value="/dev/boom"/>
        <param name="stick_id" value="/dev/stick"/>
        <param name="endAndYaw_id" value="/dev/endAndYaw"/>
    </node>

    <!-- Camera -->
    <node name="Camera" pkg="cameras" type="camera.py">
        <param name="camera_topic" value="video_stream"/>
        <param name="camera_id" value="0"/>
    </node>
</launch>
